services:
  backend:
    build:
      context: ./backend
      dockerfile: Backend_Dockerfile
    container_name: backend
    expose:
      - "5000"
    volumes:
      - ./backend/static:/app/static
    environment:
      # Flask Environment
      - FLASK_ENV=${CYTOCHAL_FLASK_ENV}
      
      # Application Settings  
      - DATA_PATH=${CYTOCHAL_DATA_PATH}
      - API_BASE_PATH=${CYTOCHAL_API_BASE_PATH}
      - LOG_LEVEL=${CYTOCHAL_LOG_LEVEL}
      
      # SDF Parser Configuration
      - CYTOCHAL_SDF_PATH=${CYTOCHAL_SDF_PATH}
      - CYTOCHAL_IMAGE_DIR=${CYTOCHAL_IMAGE_DIR}
      - CYTOCHAL_STRUCTURE_DIR=${CYTOCHAL_STRUCTURE_DIR}
      
      # Server Configuration
      - BACKEND_PORT=${CYTOCHAL_BACKEND_PORT}
      
      # API Configuration
      - API_HOST=${CYTOCHAL_API_HOST}
      
      # Constructed URLs
      - API_FULL_URL=http://${CYTOCHAL_API_HOST}:${CYTOCHAL_BACKEND_PORT}${CYTOCHAL_API_BASE_PATH}
      - BACKEND_INTERNAL_URL=http://${CYTOCHAL_SERVER_HOST}:${CYTOCHAL_BACKEND_PORT}${CYTOCHAL_API_BASE_PATH}
      
      # Debug
      - DEBUG=${CYTOCHAL_DEBUG}

    env_file:
      - .env

    
    networks:
      - cytochal-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Frontend_Dockerfile
      args:
        # Pass values from .env directly
        CYTOCHAL_IS_DEV: "False"
        CYTOCHAL_API_BASE_PATH: "${CYTOCHAL_API_BASE_PATH}"
        CYTOCHAL_FRONTEND_BASE_URL: "${CYTOCHAL_FRONTEND_BASE_URL}"
        # These are technically unused by config.tsx in prod, but good to pass to prevent errors
        VITE_API_BASE_URL: "${VITE_API_BASE_URL}"
        CYTOCHAL_API_HOST: "${CYTOCHAL_API_HOST}"
        CYTOCHAL_BACKEND_PORT: "${CYTOCHAL_BACKEND_PORT}"
        CYTOCHAL_FRONTEND_PORT: "${CYTOCHAL_FRONTEND_PORT}"
    container_name: frontend
    expose:
      - "3000"
    environment:
    - VITE_API_BASE_URL=http://${CYTOCHAL_API_HOST}:${CYTOCHAL_BACKEND_PORT}${CYTOCHAL_API_BASE_PATH}
    - CYTOCHAL_FRONTEND_PORT=${CYTOCHAL_FRONTEND_PORT}
    - CYTOCHAL_FRONTEND_BASE_URL=${CYTOCHAL_FRONTEND_BASE_URL}
    

    
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - cytochal-network
    restart: unless-stopped
  

  nginx:
    build:
      context: ./nginx
      dockerfile: Nginx_Dockerfile
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./backend/static:/app/static:ro
      - ./.env:/app/.env:ro
    environment:
        - BACKEND_PORT=${CYTOCHAL_BACKEND_PORT}
        - FRONTEND_PORT=${CYTOCHAL_FRONTEND_PORT}
        - SERVER_NAMES=${CYTOCHAL_SERVER_NAMES}  
    depends_on:
      - backend
      - frontend
    networks:
      - cytochal-network
    restart: unless-stopped

networks:
  cytochal-network:
    driver: bridge